/* CSS file for ingredients page */

.contents {
  background: #fff;
  width: 300px;
  padding: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#input {
  border-bottom: 2px solid black;
  display: inline-block;
}

input[type="text"] {
  display: inline-block;
  border-bottom: 2px solid black;
  width: 80% !important;
  float: left;
  padding-left: 10px;
}

.contents input::-webkit-input-placeholder {
  font-style: italic;
}

.ui-input-text.ui-custom {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important; /* focus property */
  border-radius: 0 !important;
}

.add {
  text-align: center !important;
  float: right;
  margin-right: -5px !important;
  width: auto !important;
  height: auto !important;
  border-radius: 20px !important;
  padding: 5px 10px !important;
  outline: 0;
  color: #fff;
  font-size: 13px !important;
  border: none;
  cursor: pointer;
  background-color: #3b3b3b;
}

input[type="checkbox"] { width: 30px; }

ul {
  margin-top: 70px; /* space between input and first bullet */
  padding: 0;
  text-align: left;
  margin-left: -5px;
  list-style: none;
  border-bottom: solid white;
}

hr {
  border: none;
  margin: 5px 0;
}

.remove {
  float: right;
  margin-right: 3px; /* space between bullets */
  cursor: pointer;
}

.find {
  width: 100%;
  position: fixed;
  bottom: 20px;
  text-align: center;
  padding-top: 10px;
}
